@font-face{
	font-family: "Aller Light";
	src: url('../fonts/Aller_Light.ttf');
}
@font-face{
	font-family: "Aller Bold";
	src: url('../fonts/Aller_Bold.ttf');
}
@font-face{
	font-family: "Aller";
	src: url('../fonts/Aller_Std_Rg.ttf');
}