		<div class="col-xs-12 col-sm-7 col-lg-9 wrapper">
  			<div class="row second-nav">
  				<ul>
		  			<li class="active"><a href="#">Tweet</a></li>
		  			<li><a href="#">Photos</a></li>
		  			<li><a href="#">Videos</a></li>
		  		</ul>
  			</div>
  			<div class="container row">
  				<form class="tweet-form">
  					<h1>Tweet Something</h1>
  					<div class="input-group">
  						<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
  						<input type="text" class="form-control" placeholder="Compose your tweet"/>
  					</div>
  				</form>
  				<div class="tweets">
  					<a href="#" class="new-tweets">4 New Tweets</a>
  					<hr>
  					<ul class="tweets-list">
  						<li>
  							<img src="img/pp-1.jpg">
  							<span class="time pull-right">18 h</span>
  							<div class="tweets-item">
  								<a href="#" class="name">Sherlock Shellingford</a>
  								<p><a href="#">@kokoro_iq14000000</a> Kokoro-chan, aku ada kasus yang cukup keren. Cepat kesini, aku akan mengelus kepalamu<a href="#">#kasusbaru</a></p>
  							</div>
  						</li>
  						<li>
  							<img src="img/Anna_Profile.png">
  							<span class="time pull-right">1 d</span>
  							<div class="tweets-item">
  								<a href="#" class="name">Kushina Anna</a>
  								<p><a href="#">@kusanagii</a> raja hijau mulai bergerak <a href="#">@shirokun</a> aku perlu bantuanmu</p>
  							</div>
  						</li>
  						<li>
  							<img src="img/pp-2.jpg">
  							<span class="time pull-right">1 d</span>
  							<div class="tweets-item">
  								<a href="#" class="name">Chitanda Eru</a>
  								<p><a href="#">@orekisave</a> Oreki-san, aku mau minta pendapatmu tentang keanehan baru. Bolehkah aku pergi kesana <a href="#">#imcurious</a></p>
  							</div>
  						</li>
  						<li>
  							<img src="img/pp-3.jpg">
  							<span class="time pull-right">2 d</span>
  							<div class="tweets-item">
  								<a href="#" class="name">CC</a>
  								<p><a href="#">@lelouch0</a> Aku sudah melaksanakan tugasku, sekarang bisakah kau beri aku pizza<a href="#">@suzakujapan</a> apakah rencana lelouch berjalan lancar? kutunggu itumu</p>
  							</div>
  						</li>
  					</ul>
  					<hr>
  					<a href="#" class="new-tweets">Show More+</a>
  				</div>
  			</div>
  		</div>
  		<div class="col-xs-12 col-sm-5 col-lg-3">
  			<div class="container" id="who-follow">
  				<div id="who-follow-header">
	  				<h1>Who to Follow</h1>
	  				<a href="#" class="hidden-sm-down pull-right"><i class="fa fa-refresh"></i></a>
	  			</div>
	  			<hr />
	  			<ul>
	  				<li>
	  					<img src="img/pp-1.jpg">
	  					<div class="people">
	  						<a href="#" class="name">Sherlock Shellingford</a>
	  						<p>Followed by <a href="#">Kokoro Akechi</a></p>
	  					</div>
	  				</li>
	  				<li>
	  					<img src="img/pp-2.jpg">
	  					<div class="people">
	  						<a href="#" class="name">Chitanda Eru</a>
	  						<p>Followed by <a href="#">Oreki Houtarou</a></p>
	  					</div>
	  				</li>
	  				<li>
	  					<img src="img/pp-3.jpg">
	  					<div class="people">
	  						<a href="#" class="name">CC</a>
	  						<p>Followed by <a href="#">Lelouch vi Britannia</a></p>
	  					</div>
	  				</li>
	  			</ul>
	  			<a class="pull-left" href="#">Popular Account</a>
	  			<a class="pull-right" href="#">Find Friend</a>
  			</div>
  			<div class="container" id="trending">
  				<div id="trending-header">
	  				<h1>Trending</h1>
	  				<a href="#" class="hidden-sm-down pull-right"><i class="fa fa-gear"></i></a>
	  			</div>
	  			<hr />
	  			<ul>
	  				<li><a href="#">#kasusbaru</a></li>
	  				<li><a href="#">#nagarehisui</a></li>
	  				<li><a href="#">#zerorebellion</a></li>
	  				<li><a href="#">#imcurious</a></li>
	  				<li><a href="#">#allhailbritannia</a></li>
	  			</ul>
  			</div>
  		</div>