<div class="col-xs-12 col-sm-7 col-lg-9 wrapper">
  			<div class="row second-nav">
  				<ul>
		  			<li class="active"><a href="#">Tweets</a></li>
		  			<li><a href="#">Activity</a></li>
		  			<li><a href="#">Find Friend</a></li>
		  			<li><a href="#">Popular</a></li>
		  		</ul>
  			</div>
  			<div class="container">
  				<div class="card-columns">
	  				<div class="card">
	  					<div class="card-block">
		  					<span class="time pull-right">18 h</span>
	  						<div class="card-profile">
		  						<img src="img/Anna_Profile.png">
		  						<div class="card-profile-info">
		  							<a href="#">Kushina Anna</a>
		  							<span>@red_king</span>
		  						</div>
		  					</div>
		  					<div class="post">
		  						Raja Hijau mulai bergerak menuju ke slate. Shiro-san, aku butuh bantuanmu untuk menghentikannya <a href="#">#pemberontakannagare</a>
		  					</div>
	  					</div>
	  				</div>
	  				<div class="card">
	  					<div class="card-block">
		  					<span class="time pull-right">18 h</span>
	  						<div class="card-profile">
		  						<img src="img/pp-1.jpg">
		  						<div class="card-profile-info">
		  							<a href="#">Sherlock Shellingford</a>
		  							<span>@sheryl</span>
		  						</div>
		  					</div>
		  					<img src="img/banner-1.jpg">
		  					<div class="post">
		  						Herc-san sangat suka mentimun. Ummmm...! Sheryl juga sih, ngomong-ngomong kokoro-chan, apa kau tidak keberatan mengunjungi kebun kami <a href="#">#berkebun</a>
		  					</div>
	  					</div>
	  				</div>
	  				<div class="card">
	  					<div class="card-block">
		  					<span class="time pull-right">18 h</span>
	  						<div class="card-profile">
		  						<img src="img/pp-2.jpg">
		  						<div class="card-profile-info">
		  							<a href="#">Chitanda Eru</a>
		  							<span>@chichi</span>
		  						</div>
		  					</div>
		  					<div class="post">
		  						<a href="#">@orekisave</a> terimakasih atas tepungnya waktu lomba memasak ya. itu sangat membantu sekali ^_^
		  					</div>
	  					</div>
	  				</div>
	  				<div class="card">
	  					<div class="card-block">
		  					<span class="time pull-right">18 h</span>
	  						<div class="card-profile">
		  						<img src="img/pp-3.jpg">
		  						<div class="card-profile-info">
		  							<a href="#">Tsi Tsu</a>
		  							<span>@immortal_tsitsu</span>
		  						</div>
		  					</div>
		  					<img src="img/banner-2.jpg">
		  					<div class="post">
		  						Pizza, pizza, aku sangat suka pizza. Lelouch belikan aku pizza terbesar didunia
		  					</div>
	  					</div>
	  				</div>
	  				<div class="card">
	  					<div class="card-block">
		  					<span class="time pull-right">18 h</span>
	  						<div class="card-profile">
		  						<img src="img/Anna_Profile.png">
		  						<div class="card-profile-info">
		  							<a href="#">Kushina Annad</a>
		  							<span>@red_king</span>
		  						</div>
		  					</div>
		  					<img src="img/banner-3.jpg">
		  					<div class="post">
		  						<a href="#">@blue_munakata</a> Reisi, kukira kekuatan pedang damoclesmu tidak bisa menahan slate lebih lama lagi, segera selesaikan masalahmu
		  					</div>
	  					</div>
	  				</div>
	  			</div>
  			</div>
  		</div>
  		<div class="col-xs-12 col-sm-5 col-lg-3">
  			<div class="container" id="who-follow">
  				<div id="who-follow-header">
	  				<h1>Who to Follow</h1>
	  				<a href="#" class="hidden-sm-down pull-right"><i class="fa fa-refresh"></i></a>
	  			</div>
	  			<hr />
	  			<ul>
	  				<li>
	  					<img src="img/pp-1.jpg">
	  					<div class="people">
	  						<a href="#" class="name">Sherlock Shellingford</a>
	  						<p>Followed by <a href="#">Kokoro Akechi</a></p>
	  					</div>
	  				</li>
	  				<li>
	  					<img src="img/pp-2.jpg">
	  					<div class="people">
	  						<a href="#" class="name">Chitanda Eru</a>
	  						<p>Followed by <a href="#">Oreki Houtarou</a></p>
	  					</div>
	  				</li>
	  				<li>
	  					<img src="img/pp-3.jpg">
	  					<div class="people">
	  						<a href="#" class="name">CC</a>
	  						<p>Followed by <a href="#">Lelouch vi Britannia</a></p>
	  					</div>
	  				</li>
	  			</ul>
	  			<a class="pull-left" href="#">Popular Account</a>
	  			<a class="pull-right" href="#">Find Friend</a>
  			</div>
  			<div class="container" id="trending">
  				<div id="trending-header">
	  				<h1>Trending</h1>
	  				<a href="#" class="hidden-sm-down pull-right"><i class="fa fa-gear"></i></a>
	  			</div>
	  			<hr />
	  			<ul>
	  				<li><a href="#">#kasusbaru</a></li>
	  				<li><a href="#">#nagarehisui</a></li>
	  				<li><a href="#">#zerorebellion</a></li>
	  				<li><a href="#">#imcurious</a></li>
	  				<li><a href="#">#allhailbritannia</a></li>
	  			</ul>
  			</div>
  		</div>
  	