<div class="col-xs-12 col-sm-7 col-lg-9 wrapper">
  			<div class="row second-nav">
  				<ul>
		  			<li class="active"><a href="#">Dashboard</a></li>
		  			<li><a href="#">Real Time</a></li>
		  			<li><a href="#">Users</a></li>
		  		</ul>
  			</div>
  			<div class="container row">
  				<div class="graph">
  					<h1>View of Your Tweet</h1>
  					<div class="pull-right hidden-md-down" style="display: inline-block;">
  						<a href="#" class="active">Week</a>
  						<a href="#">Month</a>
  						<a href="#">Year</a>
  					</div>
  					<hr />
  					<div id="graph_area" style="width:100%; height:300px;"></div>
  				</div>
  				<div class="user-stat">
  					<div class="col-xs-6 col-md-3">
  						<h1>2453</h1>
  						<span>Tweets</span>
  					</div>
  					<div class="col-xs-6 col-md-3">
  						<h1>23</h1>
  						<span>Favourites</span>
  					</div>
  					<div class="col-xs-6 col-md-3">
  						<h1>2453</h1>
  						<span>Followers</span>
  					</div>
  					<div class="col-xs-6 col-md-3">
  						<h1>2453</h1>
  						<span>Following</span>
  					</div>
  				</div>
  			</div>
  		</div>
  		<div class="col-xs-12 col-sm-5 col-lg-3">
  			<div class="container" id="latest-activity">
  				<div id="latest-activity-header">
	  				<h1>Latest Activity</h1>
	  				<a href="#" class="hidden-sm-down pull-right"><i class="fa fa-refresh"></i></a>
	  			</div>
	  			<hr />
	  			<ul class="timeline">
	  				<li>
	  					<i></i>
	  					<span class="time-stamp">Just Now</span>
	  					<p>
	  						<a href="#" class="item">Red King Quote</a> has been favourited by <a href="#" class="user">Kushina Anna</a>
	  					</p>
	  				</li>
	  				<li>
	  					<i></i>
	  					<span class="time-stamp">5 Min Ago</span>
	  					<p>
	  						<a href="#" class="item">Rebellion Note</a> has been favourited by <a href="#" class="user">Munakata Reisi</a>
	  					</p>
	  				</li>
	  				<li>
	  					<i></i>
	  					<span class="time-stamp">1 Hour ago</span>
	  					<p>
	  						<a href="#" class="item">My Note</a> has been favourited by <a href="#" class="user">Mikoto Suoh</a>
	  					</p>
	  				</li>
	  				<li>
	  					<i></i>
	  					<span class="time-stamp">1 Day ago</span>
	  					<p>
	  						<a href="#" class="item">Mikoto Suoah</a> just followed you
	  					</p>
	  				</li>
	  			</ul>
  			</div>
  		</div>
		
	<script src="js/moris/raphael-min.js"></script>
	<script src="js/moris/morris.min.js"></script>
	<script src="js/moris/example.js"></script>
