<div class="col-xs-12 col-sm-7 col-lg-9 wrapper">
  			<div class="container row" id="profile-pic">
  				<img src="img/profile_banner.jpg"/>
  			</div>
  			<div class="row second-nav">
  				<ul>
		  			<li class="active"><a href="#">Tweet</a></li>
		  			<li><a href="#">Photos</a></li>
		  			<li><a href="#">Following</a></li>
		  			<li><a href="#">Follower</a></li>
		  			<li><a href="#">Favourite</a></li>
		  			<li><a href="#">List</a></li>
		  		</ul>
  			</div>
  			<div class="container row">
  				<form class="tweet-form">
  					<h1>Tweet Something</h1>
  					<div class="input-group">
  						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
  						<input type="text" class="form-control" placeholder="Mention to @sheryl"/>
  					</div>
  				</form>
  				<div class="tweets">
  					<a href="#" class="new-tweets">All Tweets</a>
  					<hr>
  					<ul class="tweets-list">
  						<li>
  							<img src="img/Anna_Profile.png">
  							<span class="time pull-right">18 h</span>
  							<div class="tweets-item">
  								<a href="#" class="name">Kushina Anna</a>
  								<p><a href="#">@kokoro_iq14000000</a> Kokoro-chan, aku ada kasus yang cukup keren. Cepat kesini, aku akan mengelus kepalamu<a href="#">#kasusbaru</a></p>
  							</div>
  						</li>
  						<li>
  							<img src="img/Anna_Profile.png">
  							<span class="time pull-right">1 d</span>
  							<div class="tweets-item">
  								<a href="#" class="name">Kushina Anna</a>
  								<p><a href="#">@kusanagii</a> raja hijau mulai bergerak <a href="#">@shirokun</a> aku perlu bantuanmu</p>
  							</div>
  						</li>
  						<li>
  							<img src="img/Anna_Profile.png">
  							<span class="time pull-right">1 d</span>
  							<div class="tweets-item">
  								<a href="#" class="name">Kushina Anna</a>
  								<p><a href="#">@orekisave</a> Oreki-san, aku mau minta pendapatmu tentang keanehan baru. Bolehkah aku pergi kesana <a href="#">#imcurious</a></p>
  							</div>
  						</li>
  						<li>
  							<img src="img/Anna_Profile.png">
  							<span class="time pull-right">2 d</span>
  							<div class="tweets-item">
  								<a href="#" class="name">Kushina Anna</a>
  								<p><a href="#">@lelouch0</a> Aku sudah melaksanakan tugasku, sekarang bisakah kau beri aku pizza<a href="#">@suzakujapan</a> apakah rencana lelouch berjalan lancar? kutunggu itumu</p>
  							</div>
  						</li>
  					</ul>
  					<hr>
  					<a href="#" class="new-tweets">Show More+</a>
  				</div>
  			</div>
  		</div>
  		<div class="col-xs-12 col-sm-5 col-lg-3">
	  		<div class="container" id="profile">
	  			<div class="profile-info">
	  				<figure><img src="img/Anna_Profile.png" /></figure>
	  				<div class="profile-button">
	  					<a href="#" class="btn-secondary pull-left"><i class="fa fa-plus"></i></a>
	  					<a href="#" class="btn-secondary pull-right"><i class="fa fa-bars"></i></a>
	  				</div>
	  				<div class="profile-name">
		  				<a href="#">Kushina Anna</a>
		  				<a href="#"><span>@red_king</span></a>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="user-info container">
	  			<div class="col-xs-12 col-sm-4">
	  				<h1>6542</h1>
	  				<span>Tweets</span>
	  			</div>
	  			<div class="col-xs-6 col-sm-4">
	  				<h1>222</h1>
	  				<span>Follower</span>
	  			</div>
	  			<div class="col-xs-6 col-sm-4">
	  				<h1>184</h1>
	  				<span>Following</span>
	  			</div>
	  		</div>
  			<div class="container" id="who-follow">
  				<div id="who-follow-header">
	  				<h1>Followed by</h1>
	  			</div>
	  			<hr />
	  			<ul>
	  				<li>
	  					<img src="img/pp-1.jpg">
	  					<div class="people">
	  						<a href="#" class="name">Sherlock Shellingford</a>
	  						<p><a href="#">@sheryl</a></p>
	  					</div>
	  				</li>
	  				<li>
	  					<img src="img/pp-2.jpg">
	  					<div class="people">
	  						<a href="#" class="name">Chitanda Eru</a>
	  						<p><a href="#">@chichi</a></p>
	  					</div>
	  				</li>
	  				<li>
	  					<img src="img/pp-3.jpg">
	  					<div class="people">
	  						<a href="#" class="name">CC</a>
	  						<p><a href="#">@immortal_tsitsu</a></p>
	  					</div>
	  				</li>
	  			</ul>
  			</div>
  		</div>